﻿
@{
    ViewBag.Title = "Тест Kendo";
}





<h2>@ViewBag.Title</h2>


<div id="grid1"></div>



<script type="text/javascript">
    $(function () {
        var dataSource = new kendo.data.DataSource({
            type: "odata",
            transport: {
                read: {
                    url: "/odata/People",
                    dataType: "json"
                },
            },
            schema: {
                data: function (data) {
                    return data["value"];
                },
                total: function (data) {
                    return data["odata.count"];
                },
                model: {
                    fields: {
                        Id: { type: "number" },
                        FirstName: { type: "string" },
                        LastName: { type: "string" }
                    }
                }
            },
            pageSize: 10,
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        });

        $("#grid1").kendoGrid({
            dataSource: dataSource,
            filterable: false,
            sortable: false,
            pageable: false,
            columns: [
                { field: "Id" },
                { field: "FirstName" },
                { field: "LastName" }
            ]
        });
    });
</script>

@*
    @(Html.Kendo().Grid<Kendo_UI_OData_Test.Domain.Entities.Person>()

                    .Name("grid")
                    .DataSource(d => d.Custom()
                        .Type("odata")
                        .Transport(t => t
                            .Read(r => r.DataType("json")
                            .Type(HttpVerbs.Get)
                            .Url("/odata/People")))
                        .Schema(c => c.Total(""));
                  )

    )

*@